#header {
    width:100%;
    background-image:url("images/apple-pie.jpg");
}  
  

  ol {
    /* 1. Remove the default list style */  
    list-style: none;
  }
  
  ol > li {
    /* 2. Create a custom list counter */  
    counter-increment: listcounter;
  }
  
  ol > li::before {
    /*3. Set the new style for the list markers */
    content: counter(listcounter) ") ";
  }


  ul {
    /* 1. Remove the default list style */  
    list-style: "- ";
  }